<!-- Validation failure messages -->
<% if @descriptor.errors.any? %>
  <% @descriptor.errors.full_messages.each do |message| %>
    <div class="alert alert-dismissable alert-danger">
      <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
      <%= message %>
    </div>
  <% end %>
<% end %>

<div class="page-header">
  <h3>Add Descriptor</h3>
</div>

<div class="row">
  <div class="col-md-12">
    <form action="/create_descriptor" method="post">
      <!-- Hidden input for authenticity token to protect from forgery -->
      <input name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">

      <!-- Label and input for tag_id -->
      <div class="form-group">
        <label for="tag_id" class="control-label">
          Tag
        </label>

        <%= select_tag(:tag_id, options_from_collection_for_select(Tag.all, :id, :name, @descriptor.tag_id), :class => "form-control") %>
      </div>

      <!-- Label and input for restaurant_id -->
      <div class="form-group">
        <label for="restaurant_id" class="control-label">
          Restaurant
        </label>

        <input type="text" id="restaurant_id" name="restaurant_id" placeholder="Restaurant" class="form-control" value="<%= @descriptor.restaurant_id %>">
      </div>

      <button class="btn btn-success">
        Create Descriptor
      </button>
      or
      <a href="/descriptors">Cancel</a>
    </form>
  </div>
</div>
